@import '~antd/dist/antd.css';

.box-dragg-file {
  max-width: 400px;
  margin: 0 auto;
 }

 .title-update-dump {
   margin-bottom: 50px;
   margin-top: -50px;
   height: 53px;
   width: 150%;
   margin-left: -100px;
 }

 .letter-title {
   color: black;
   font-size:xx-large;
   font-weight: 500;
   display         : flex;
   justify-content : center;
   align-items     : center;
   background-color: white;
 }

 .anticon svg{
   color: #2a6662;
 }

ul {
  margin: 10%;
  padding: 5%;
  list-style: none;
  border: 500%;
  weight: 500%;
  background-color: #fafafa;
  border-radius: 3%;
}

li {
  text-align: left;
  margin: 4%;
}