.ant-progress-inner:not(.ant-progress-circle-gradient)
  .ant-progress-circle-path {
  stroke: #096170ad;
}

.ant-progress {
  color: #b43939;
  font-size: 2px;
  font-variant: tabular-nums;
  line-height: 10;
  list-style: armenian;
  align-items: center;
  padding-left: 150px;
  align-content: center;
  text-align: center;
  margin: 10px;
  width: auto;
}

h1 {
  text-align: center;
  color: white;
  border: 1px solid #3a9e97;
  background-color: #3a9e97;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.ant-progress-circle .ant-progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.9rem;
  line-height: 1;
  white-space: normal;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
