@import "~antd/dist/antd.css";

.steps-content {
  min-height: 250px;
  padding-top: 80px;
  text-align: center;
  background-color: #fff;
}

.steps-action {
  width: 50%;
  border: #42e1c5;
  border-top-style: solid;
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;

}
.steps-item-icon {
  background-color: red;
}

Button {
  border-radius: 15px;
  margin-top: 7px;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background:	#5F9EA0;
  border: #5F9EA0;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: #5F9EA0;
}

.ant-steps {
display: block;
margin-left: 15%;
}

.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item{
  padding-left: 80px;
}
