@import "~antd/dist/antd.css";

.box-dragg-file {
 max-width: 400px;
 margin: 0 auto;
}

.title-tax-engine {
  background-color: #2a6662;
  margin-bottom: 50px;
  margin-top: -50px;
  height: 60px;
  width: 150%;
  margin-left: -100px;
  border-radius: 15px;
}

.letter-title {
  color: white;
  display: contents;
  align-content: center;
  font-size:xx-large;
  font-weight: 500;
}


.anticon svg{
  color: #2a6662;
}