@import "~antd/dist/antd.css";

.box-dragg-file {
 max-width: 400px;
 margin: 0 auto;
}

.title-tax-engine {
  height: 60px;
  width: 150%;
  margin-left: -100px;
}

.letter-title {
  color: black;
  display: contents;
  align-content: center;
  font-size:xx-large;
  font-weight: 500;
}


.anticon svg{
  color: #2a6662;
}

.ask-tax-engine {
  background-color: white;
  color: black;
  border-style: none;
  font-size: 1.5em;
  margin-top: -10%;
}

.select-button-engine {
  border-radius: 2px;
  margin-top: 15px;
  margin-left: -6px;
  color: white;
  margin-bottom: 10px;
}